.content {
  border-radius: 45px 45px 0 0;
  background-color: var(--brand-dark);
  padding: 3.438rem 3.75rem 3.125rem;
  color: var(--text-color-light);
  font-size: 1.125rem;
}

.footerNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.links {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.links li:hover {
  text-decoration: underline;
}

.socialMedia {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.main {
  padding: 4.125rem 0 3.125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socialMedia.mob {
  display: none;
}

.contactUs {
  flex: 1;
  max-width: 332px;
}

.contacts {
  margin-top: 1.688rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.contacts li {
  display: flex;
  gap: 0.5rem;
}

.contacts a:hover {
  text-decoration: underline;
}

.subscribtion {
  flex: 1;
  max-width: 634px;
  border-radius: 14px;
  background-color: #292a32;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  padding: 3.625rem 2.5rem;
}

.email {
  width: 100%;
  max-width: 285px;
  font-size: 18px;
  font-family: inherit;
  padding: 22px 35px;
  border-radius: 14px;
  background-color: transparent;
  border: 1px solid var(--text-color-light);
  color: var(--text-color-light);
}

.email:focus {
  outline: none;
}

.email::placeholder {
  color: var(--text-color-light);
  opacity: 0.4;
}

.subscribe {
  white-space: nowrap;
  border-color: var(--text-color-light);
}

.subscribe:hover {
  background-color: var(--brand-dark);
  color: inherit;
  box-shadow: 0 5px 0 var(--text-color-light);
}

.subscribe:active {
  box-shadow: none;
}

.initials {
  border-top: 1px solid var(--text-color-light);
  padding-top: 3.125rem;
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.initials a {
  text-decoration: underline;
}

@media (max-width: 1106px) {
  .subscribtion {
    flex-direction: column;
    max-width: 50%;

    .email {
      max-width: none;
      text-align: center;
    }

    .subscribe {
      width: 100%;
    }
  }
}

@media (max-width: 950px) {
  .footerNav {
    .socialMedia {
      display: none;
    }

    .links {
      font-size: 1.3rem;
    }
  }

  .socialMedia.mob {
    display: flex;
    margin-bottom: 1.25rem;
  }
}

@media (max-width: 850px) {
  .footerNav {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  .main {
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    .contactUs {
      display: flex;
      flex-direction: column;
      align-items: center;

      h4 {
        font-size: 1.75rem;
      }

      .contacts {
        li {
          flex-direction: column;
          align-items: center;
          text-align: center;

          a {
            color: var(--brand-green);
          }
        }
      }
    }

    .subscribtion {
      max-width: none;
      width: 100%;
    }
  }
}

@media (max-width: 610px) {
  .links {
    flex-direction: column;
  }

  .socialMedia {
    justify-content: center;
  }

  .initials {
    flex-direction: column;
  }
}
