.navContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4.75rem 0 5.375rem;
}

.logo {
  width: 13.721rem;
}

.links {
  display: flex;
  align-items: center;

  font-size: 1.25rem;
  line-height: 140%;
}

.link {
  padding: 0.8rem 1.25rem;
  border-radius: 1rem;
  transition: all 0.1s ease;
}

.link:hover {
  background-color: var(--brand-green);
  outline: 1px solid var(--brand-dark);
  transform: translateY(-5px);
  box-shadow: 0 5px 0 var(--brand-dark);
}

.link:active {
  transform: none;
  box-shadow: none;
}

.button {
  margin-left: 1.25rem;
}

.menu {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.menu img {
  height: 1.3rem;
  display: block;
}

@media (max-width: 1106px) {
  .navContent {
    position: relative;
  }

  .menu {
    display: block;
  }

  .links {
    white-space: nowrap;
    position: absolute;
    top: 70%;
    left: 100%;
    flex-direction: column;
    background-color: #f3f3f3;
    border: 1px solid var(--brand-dark);
    border-radius: 45px;
    box-shadow: 0 10px 23px rgba(0, 0, 0, 0.219);
    padding: 2rem;

    opacity: 0;
    transition: all 0.45s cubic-bezier(0.69, -0.3, 0.3, 1.27);
    filter: blur(5px);

    .button {
      margin: 0;
      margin-top: 2rem;
    }
  }

  .links.show {
    transform: translateX(-100%);
    opacity: 1;
    filter: none;
  }
}
